.Container {
    display: flex;
    position: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.OptionsContainer {
    flex: 1;
    overflow: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }

}

.LoadingContainer {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    margin-top: 20px;
    align-items: center;
}

.ButtonContainer {
    position: fixed;
    width: 100%;
    bottom: 15px;
    left: 0px;
    z-index: 10;
}

.HeaderContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}