.Container {

    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 300px;

    @media screen and (max-width: 1100px) {
        top: 60px;
        position: fixed;
        width: 100% !important;
        height: calc( 100vh - 60px );
    }

    @media screen and (min-width: 1100px) {
        padding-top: 100px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}