.Option {
    margin: 5px;
    border-radius: .25rem;

    &:checked {
        background-color: blue;
    }
}

.Options {
    width: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    height: auto;
    flex-direction: column;
    outline: none !important;
}