.Navbar {

    background-color: rgb(240, 240, 240);
    width: 100vw;
    position: fixed;
    z-index: 10;
    transition: width 0.5s;
    top: 0px;
    -webkit-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);

    @media (min-width: 1100px) {
        height: 100vh;
        position: relative;
        width: 50px;
        
        * {
            opacity: 0;
        }
    
        &:hover {
            width: 300px;
            * {
                opacity: 1;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

}

.NavbarFixed {

    background-color: rgb(240, 240, 240);
    width: 100vw;
    position: fixed;
    z-index: 10;
    transition: width 0.5s;
    top: 0px;
    -webkit-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.47);

    @media (min-width: 1100px) {
        height: 100vh;
        position: relative;
        width: 300px;
        
        * {
            opacity: 1;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

}

.ButtonContainer {
    height: fit-content;
    padding: 10px;
    padding-left: 0px;
    @media screen and (min-width: 1100px) {
        display: none;
    }
}

.Title {
    flex: 1;
    padding: 10px;
    font-size: 30px;
}

.Index {
    overflow: hidden;
    height: 80vh;
    transition: all 0.5s ease-in-out;

    @media screen and (min-width: 1100px) {
        height: 93vh;
    }
}

.Collapsed {
    @media screen and (max-width: 1100px) {
        height: 0px;
    }
}

.Header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Item {
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 10px;

    &:hover {
        font-weight: bold;
    }
}

.Card {
    height: 100%;
    cursor: pointer;

    &:hover {
        border-color: black;
    }
}

.SearchResult {
    padding: 10px;
    padding-top: 0px;
}

.List {

    &::-webkit-scrollbar {
        display: none;
    }
}