.Container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: indianred;
    flex-direction: row;
};

.Sidebar {
    position: relative;
    width: 300px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    };
};

.MainView {
    display: flex;
    flex: 1;
    background-color: gray;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    };
};

.MainViewHeader {
    display: flex;
    width: calc(100% - 32px);
    margin-top: 16px;
    margin-left: 16px;
};

.MainViewDescription {
    width: calc(100% - 32px);
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 32px;
};

.MainCardAnswers {
    flex: 1;
};

.MainCard {
    flex: 1;
    flex-direction: column;
    margin: 5vw;
    display: flex;
};

.AnswersContainer {
    flex: 1;
    overflow: auto;
    margin: 16px;

    &::-webkit-scrollbar {
        display: none;
    };
};

.Answer {
    display: flex;
    width: '100%';
    align-items: center;
    margin-bottom: 50px;
};

.MiniatureContainer {
    width: 100%;
    text-align: center;
};

.Miniature:first-child {
    margin-top: 40px;
};

.Miniature {
    position: relative;
    display: block;
    width: 220px;
    height: 220px;
    margin-left: 40px;
    margin-bottom: 40px;

    .MiniatureContent { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .MiniatureBody {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: xx-large;   
        }
    };
};

.Selected {
    -webkit-box-shadow: 2px 10px 58px 9px rgba(168,168,168,1) !important;
    -moz-box-shadow: 2px 10px 58px 9px rgba(168,168,168,1) !important;
    box-shadow: 2px 10px 58px 9px rgba(168,168,168,1) !important;
}