.img {
    position: relative;
    border-radius: 10px;
    
    @media screen and (max-width: 600px) {
        width: 80%;
    };

    @media screen and (min-width: 601px) and (max-width: 1200px) {
        width: 60%;
    };

    @media screen and (min-width: 1201px) {
        width: 30%;
    };
};

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
};